/* Font */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Animation */

@keyframes bgc {
    0%{
        background-color: #E02C6D;
    }
    50%{
        background-color: rgba(230, 63, 33, 0.938);
    }
    100%{
        background-color: rgb(199, 31, 31);
    }
}

/* body styles */

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-weight: 700;
}

/* ------------------
  Top Section Styles
  ------------------- */

  .top-cont{
        width: 1149.2px;
         height: 435px;
        background-color:  #2D25A0;
        display: flex;
        justify-content: center;
        padding: 100px;
        margin-bottom: 70px;
  }
  .top-info{
        width: 500px;
        height: 230px;
  }
  .top-info h1{
        font-size: 50px;
        color: #FFFFFF;
  }
  .top-info a{
      text-decoration: none;
      color: #FFFFFF;
      padding: 10px 30px;
      width: 148px;
      height: 44px;
      background: #E02C6D;
}
    .top-button a{
        display: flex;
        justify-content:space-between;
        align-items: center;
        font-size: 20px;
        animation: bgc 1.8s linear 0s infinite alternate;
        animation-play-state: running;
}
.top-cont img{
    width: 556.01px;
    height: 438px;
}
.top-cont:hover img{
    transform: scale(1.15);
    transition: transform .5s linear .2s;
}

/*------------------- 
second section styles 
-------------------*/

.sec-cont{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 10px;
    margin-bottom: 70px;
    padding: 0px 12%;
}
.frame{
    border: 0px solid ;
    width: 280px;
    height: 480px;
    margin: 1px;
    padding: 15px;
    box-shadow: 2px 3px 10px rgba(128, 128, 128, 0.705);
}
.frame:hover{
    transform: scale(1.08);
    transition: transform .2s linear;
}
.photo img{
    width: 280px;
    height: 246px;
}
.info{
    width: 280px;
    height: 154px;
}
.info p{
    font-size: 16px;
    color: #6C6C6C;
    font-weight: 400;
    text-align: justify;
}

/* Third Section Styles */

.bottom-cont{
    width: 90%;
    height: 435px;
    padding: 0px 50px;
    display: flex;
     justify-content: center;
    align-items: center;
     margin-bottom: 70px;
}
.bottom-info{
    width: 450px;
    height: 309px;
    margin-left: 20px;
}
.info-gap{
    padding: 0px 30px;
}
.bottom-info h2{
    font-size: 45px;
     font-weight: 700;
    color: black;
     margin: 0;
}
.bottom-info p{
    font-weight: normal;
    font-size: 16px;
    color: #6C6C6C;
}
.bottom-info .marg{
    margin-top: 0;
    margin-bottom: 35px;
}
.bottom-info a{
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px 30px;
    width: 148px;
    height: 44px;
    background: #E02C6D;
}
  .bottom-button a{
      display: flex;
      justify-content:space-between;
      align-items: center;
      font-size: 20px;
}
.bottom-button a:hover {
    transform: scale(1.15);
    transition: transform .3s linear;
}
.bottom-cont img{
     width: 567px;
     height: 427px;
}

/* Ending section styles */


.end-sec{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin: 0px 100px 80px;
}

.table td{
    font-size: 22px;
    font-weight: 400;
}

table, th, td{
    border: 3px solid gray;
    border-collapse: collapse;
    background-color: lightgray;
    text-align: center;
    font-size: 25px;
}
th, td{
    pad: 1px 3px;
}
fieldset{
    width: 300px;
}
.poll .font{
    display: flex;
    align-items: center;
}
.poll .font, p{
    font-size: 20px;
    font-weight: 300;
    color: #6C6C6C;
}

/* Footer Styles */

.footer{
        width: 483.87px;
        height: 213px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0px 30%;
}

.footer-logo img{
    width: 280px;
    height: 70px;
}
.footer-font{
    justify-content: center;
}
.footer-logos{
    width: 170px;
    height: 32px;
    margin-left: 32px;
}
.logo img{
    width: 32px;
    height: 32px;
}
.copyright{
    font-weight: normal;
    font-size: 16px;
    color: #000000;
}

/*----------------------------------------------------------------------------------------------------
 ------------------------------------------Media Queries--------------------------------------------- 
-----------------------------------------------------------------------------------------------------*/

@media only screen and (max-width:688px) {
    .top-cont{
        width: 100%;
        height: auto;
        padding: 15px;
        flex-direction: column;  
        align-items:flex-end;      
    }
    .top-info{
        width: auto;
        height: auto;
    }
    .top-cont img{
        width: 100%;
        height: auto;
        margin: 60px 0 30px;
    }

    .top-cont:hover img{
        transform: scale(1);
    }

/* second section */

.sec-cont{
    grid-template-columns: repeat(1,1fr);
}













.bottom-cont, .end-sec, .footer{
    display: none;
}

}